@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Hiragino Sans", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.button {
  display: inline-block;
  font-size: 30px;
  font-size: 1.875rem;
  border-radius: 3.125rem;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  text-align: center;
  padding: 0 52px 10px 67px;
  padding: 0 3.25rem 0.625rem 4.1875rem;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.button span {
  font-size: 16px;
  font-size: 1rem;
}

.button:hover {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1.5rem;
    padding: 0 1.25rem 0.625rem;
  }
}

.section-title {
  font-size: 50px;
  font-size: 3.125rem;
  text-align: center;
  line-height: 85px;
  line-height: 5.3125rem;
  font-weight: 300;
}

@media screen and (max-width: 1198px) {
  .section-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .section-title {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 1.375rem;
  }
}

.catch {
  border-top: 1px solid #707070;
  border-top: 0.0625rem solid #707070;
  border-bottom: 1px solid #707070;
  border-bottom: 0.0625rem solid #707070;
  text-align: center;
}

.catch__text {
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: 80px;
  margin-top: 5rem;
  line-height: 51px;
  line-height: 3.1875rem;
}

@media screen and (max-width: 767px) {
  .catch__text {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 1.25rem;
  }
}

.catch__button {
  margin: 50px 0 70px;
  margin: 3.125rem 0 4.375rem;
}

.induction1 {
  width: 100%;
  background-color: #6e9846;
  color: white;
  font-family: 'TsukuARdGothic-Regular', YuGothic, "Yu Gothic", 'Noto Sans Japanese', sans-serif;
  border-top: #2a5103 8px solid;
  border-bottom: #2a5103 8px solid;
  height: auto;
  margin-bottom: 125px;
  background-image: url("../images/common/028917.jpg");
  background-size: cover;
  margin-top: 140px;
}

.induction1 span {
  background-color: #fff;
  color: #6e9846;
  padding: 1px 4px;
}

.induction1 h2 {
  font-size: 32px;
  margin-bottom: 60px;
}

.font-weight-bold + .font-weight-bold {
  margin-top: 20px;
}

.button3 {
  background-color: #fff;
  color: #2a5103;
  display: inline-block;
  padding: 4px 200px;
  border-radius: 20px;
  border: solid 3px  #2a5103;
  margin-bottom: 70px;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .button3 {
    padding: 4px 20px;
  }
}

.header-buttons-wrapper {
  background: rgba(0, 0, 0, 0);
  padding-top: 35px;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0;
  border-radius: 0;
  text-align: center;
}

.header-buttons-wrapper a:hover {
  text-decoration: none;
  color: #0056b3;
}

.footer {
  background: #618e34;
  padding-top: 26px;
  padding-bottom: 15px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin-bottom: 75px;
}

.footer-list li {
  border-right: 1px solid #fff;
}

.footer-list li a {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 10px;
}

.footer-credit {
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-buttons-wrapper {
    padding-top: 20px;
  }
}

.header {
  height: 116px;
  padding: 0 20px;
}

.container {
  max-width: 1500px;
  height: inherit;
  margin: auto;
}

.header-top {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-img {
  width: 184px;
}

.header-logo-img img {
  width: 140px;
  height: 60px;
}

.header-tel {
  position: relative;
  margin-top: 6px;
}

.header-tel-icon {
  width: 35px;
  position: absolute;
  top: 12px;
}

.tel-number {
  margin: 0;
  padding-left: 47px;
  font-size: 32px;
  font-weight: bold;
  color: #444444;
}

.tel-number span {
  font-size: 15px;
  vertical-align: 5px;
}

.sp-header-left {
  display: none;
}

@media screen and (max-width: 767px) {
  .header .container {
    width: 98%;
    margin: 0 auto;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 200;
    background-color: white;
  }
  .header-top {
    padding-top: 5px;
    position: relative;
    width: 100%;
  }
  .header-logo-img {
    width: 104px;
    padding: 0;
  }
  .header-logo-img img {
    width: 120px;
    height: 45px;
    margin-top: 5px;
  }
  .header-tel {
    display: none;
  }
  .sp-header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sp-tel-btn {
    width: 105px;
    height: 35px;
    border-radius: 65px;
    background: #96cc48;
    line-height: 38px;
    font-size: 14px;
    padding-left: 16px;
    position: absolute;
    left: 67%;
    margin-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }
  .sp-tel-btn a:hover {
    text-decoration: none;
  }
  .sp-tel-btn img {
    width: 18px;
    vertical-align: -5px;
  }
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1330px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.list {
  max-width: 870px;
  max-width: 54.375rem;
  margin: 0 auto;
}

.list__item + .list__item {
  margin-top: 58px;
  margin-top: 3.625rem;
}

.list__item--right .list__head {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.list__item--right .list__lead {
  margin: 0 38px 20px 0;
  margin: 0 2.375rem 1.25rem 0;
  text-align: right;
}

.list__item--right .list__img {
  margin: 0 -120px 0 2px;
  margin: 0 -7.5rem 0 0.125rem;
  max-width: 361px;
  max-width: 22.5625rem;
}

@media screen and (max-width: 1198px) {
  .list__item--right .list__img {
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .list__item--right .list__img {
    margin: 0 auto;
  }
}

.list__item--first .list__textblock {
  max-width: 640px;
  max-width: 40rem;
}

.list__item--first .list__img {
  margin-right: -50px;
  margin-right: -3.125rem;
}

.list__item--first .list__img img {
  width: 227px;
  width: 14.1875rem;
  height: 230px;
  height: 14.375rem;
}

@media screen and (max-width: 1198px) {
  .list__item--first .list__img {
    margin-right: 0;
  }
}

.list__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .list__head {
    display: block;
  }
}

.list__headblock {
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  border-radius: 1.8125rem;
  padding: 16px 10px 0;
  padding: 1rem 0.625rem 0;
  display: inline-block;
}

.list__heading1 {
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
}

.list__heading2 {
  font-size: 50px;
  font-size: 3.125rem;
  white-space: nowrap;
}

.list__heading2 span {
  font-size: 20px;
  font-size: 1.25rem;
  margin-right: 8px;
  margin-right: 0.5rem;
  vertical-align: 5px;
  vertical-align: 0.3125rem;
}

.list__lead {
  font-size: 30px;
  font-size: 1.875rem;
  border-bottom: 1px solid #707070;
  border-bottom: 0.0625rem solid #707070;
  width: 100%;
  margin: 0 0 20px 30px;
  margin: 0 0 1.25rem 1.875rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

@media screen and (max-width: 767px) {
  .list__lead {
    margin: 0;
  }
}

.list__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-top: 2.1875rem;
}

@media screen and (max-width: 1023px) {
  .list__body {
    display: block;
  }
}

.list__text {
  line-height: 34px;
  line-height: 2.125rem;
}

.list__img {
  margin-left: 45px;
  margin-left: 2.8125rem;
}

@media screen and (max-width: 1023px) {
  .list__img {
    margin: 0 auto;
  }
  .list__img img {
    max-width: 22.5625rem;
    max-height: 18rem;
    margin: 0 auto;
  }
}

.about__items {
  max-width: 1200px;
  max-width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 27px auto 0;
  margin: 1.6875rem auto 0;
}

@media screen and (max-width: 1023px) {
  .about__items {
    display: block;
  }
}

.about__item {
  border: 3px solid #707070;
  border: 0.1875rem solid #707070;
  border-radius: 0.6875rem;
  position: relative;
  height: 100%;
}

.about__item + .about__item {
  margin-left: 19px;
  margin-left: 1.1875rem;
}

@media screen and (max-width: 1023px) {
  .about__item + .about__item {
    margin-left: 0;
    margin-top: 0.625rem;
  }
}

.about__item:last-of-type .about__img {
  max-width: 266px;
  max-width: 16.625rem;
  height: 214px;
  height: 13.375rem;
  margin-top: -20px;
  margin-top: -1.25rem;
}

.about__item:last-of-type .about__text {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.about__lead {
  background: #f0f0f0;
  border-radius: 1.0625rem;
  margin: 12px;
  margin: 0.75rem;
  text-align: center;
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 600;
  color: #000;
  position: relative;
  padding: 5px 0;
  padding: 0.3125rem 0;
}

.about__lead::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 43%;
  border: 22px solid transparent;
  border: 1.375rem solid transparent;
  border-top: 26px solid #F0F0F0;
  border-top: 1.625rem solid #F0F0F0;
  width: 0;
  height: 0;
}

@media screen and (max-width: 1023px) {
  .about__lead::after {
    border: none;
  }
}

.about__img {
  max-width: 214px;
  max-width: 13.375rem;
  margin: 0 auto;
}

.about__text {
  background: #707070;
  color: #fff;
  padding: 22px 12px;
  padding: 1.375rem 0.75rem;
  line-height: 44px;
  line-height: 2.75rem;
}

.difficult__title {
  margin-top: 89px;
  margin-top: 5.5625rem;
}

.difficult__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 78px auto 0;
  margin: 4.875rem auto 0;
  max-width: 1150px;
  max-width: 71.875rem;
}

@media screen and (max-width: 1023px) {
  .difficult__head {
    display: block;
    margin-top: 1.25rem;
  }
}

.difficult__img {
  max-width: 576px;
  max-width: 36rem;
}

@media screen and (max-width: 1023px) {
  .difficult__img {
    margin: 0 auto;
  }
}

.difficult__item {
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  border-radius: 1.8125rem;
  padding: 20px 37px 8px 57px;
  padding: 1.25rem 2.3125rem 0.5rem 3.5625rem;
  margin-left: 24px;
  margin-left: 1.5rem;
}

.difficult__item + .difficult__item {
  margin-top: 30px;
  margin-top: 1.875rem;
}

@media screen and (max-width: 1023px) {
  .difficult__item {
    margin-left: 0;
    padding: 1.25rem 1.875rem;
  }
}

.difficult__comment {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 41px;
  line-height: 2.5625rem;
}

.difficult__leadblock {
  background: #F2F2F2;
  max-width: 1280px;
  margin: 40px auto 0;
  margin: 2.5rem auto 0;
  padding: 25px 0 50px;
  padding: 1.5625rem 0 3.125rem;
}

.difficult__text {
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
  margin-top: 10px;
  margin-top: 0.625rem;
  line-height: 51px;
  line-height: 3.1875rem;
}

@media screen and (max-width: 1198px) {
  .difficult__text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .difficult__text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .difficult__text {
    font-size: 1.125rem;
    text-align: left;
  }
}

.difficult__list {
  margin-top: 45px;
  margin-top: 2.8125rem;
}

.main-view {
  width: 100%;
  height: 865px;
  height: 54.0625rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .main-view {
    height: 100vh;
    margin-top: 4.0625rem;
  }
}

.main-view__background {
  height: 865px;
  height: 54.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .main-view__background {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main-view__left,
.main-view__right {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 1440px) {
  .main-view__left,
  .main-view__right {
    width: 50%;
    height: 100%;
  }
}

.main-view__left {
  background: url(../images/common/マスクグループ7.jpg) no-repeat center center/cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 1023px) {
  .main-view__left {
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 1440px) {
  .main-view__left {
    background: url(../images/common/マスクグループ7.jpg) no-repeat left center/cover;
    background-position: top  right;
  }
}

.main-view__right {
  background: url(../images/common/マスクグループ6.jpg) no-repeat center center/cover;
}

@media screen and (min-width: 1440px) {
  .main-view__right {
    background: url(../images/common/マスクグループ6.jpg) no-repeat right center/cover;
  }
}

@media screen and (max-width: 1023px) {
  .main-view__right {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-view__right {
    height: 100vh;
  }
}

.main-view__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 55px 48px 54px;
  padding: 3.4375rem 3rem 3.375rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .main-view__content {
    opacity: 0.9;
  }
}

@media screen and (max-width: 767px) {
  .main-view__content {
    padding: 1.25rem 0.625rem;
  }
}

.main-view__lead {
  font-size: 50px;
  font-size: 3.125rem;
  border-bottom: 1px solid #707070;
  border-bottom: 0.0625rem solid #707070;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .main-view__lead {
    font-size: 1.875rem;
  }
}

.dot {
  position: relative;
  padding-top: 0.8em;
}

.dot::before {
  position: absolute;
  content: '';
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: #707070;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main-view__title {
  font-size: 100px;
  font-size: 6.25rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  font-weight: 600;
  line-height: 120px;
  line-height: 7.5rem;
}

@media screen and (max-width: 767px) {
  .main-view__title {
    font-size: 3.125rem;
    line-height: 4.375rem;
  }
}

.main-view__text {
  font-size: 30px;
  font-size: 1.875rem;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.main-view__text::before, .main-view__text::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 81px;
  width: 5.0625rem;
  height: 1px;
  height: 0.0625rem;
  background-color: #707070;
}

@media screen and (max-width: 767px) {
  .main-view__text::before, .main-view__text::after {
    width: 40px;
  }
}

.main-view__text::before {
  left: -70px;
  left: -4.375rem;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

@media screen and (max-width: 767px) {
  .main-view__text::before {
    left: -30px;
  }
}

.main-view__text::after {
  right: -70px;
  right: -4.375rem;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

@media screen and (max-width: 767px) {
  .main-view__text::after {
    right: -30px;
  }
}

@media screen and (max-width: 767px) {
  .main-view__text {
    font-size: 1.25rem;
  }
}

.main-view__button {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.necessity {
  background: #EDEDED;
}

.necessity__title {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.necessity__body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 37px 50px 58px;
  padding: 2.8125rem 2.3125rem 3.125rem 3.625rem;
  max-width: 1038px;
  max-width: 64.875rem;
  margin: 30px auto 0;
  margin: 1.875rem auto 0;
}

@media screen and (max-width: 1023px) {
  .necessity__body {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .necessity__body {
    padding: 2.8125rem 2.3125rem 3.125rem;
  }
}

.necessity__body:nth-of-type(2n) {
  display: block;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(60%, #fff)), url(../images/common/3312232_m.jpg), #fff;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #fff 60%), url(../images/common/3312232_m.jpg), #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 150px;
  background-position: 9.375rem;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .necessity__body:nth-of-type(2n) {
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, #fff)), url(../images/common/3312232_m.jpg);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, #fff 50%), url(../images/common/3312232_m.jpg);
    background-position: top 0 right 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .necessity__body:nth-of-type(2n) {
    background-image: url(../images/common/3312232_m.jpg);
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: lighten;
    background-position: top 0 right 22%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.necessity__body:nth-of-type(2n) .necessity__content {
  padding: 78px 0 225px 49px;
  padding: 4.875rem 0 14.0625rem 3.0625rem;
  margin: 0;
  max-width: 551px;
  max-width: 34.4375rem;
}

@media screen and (max-width: 767px) {
  .necessity__body:nth-of-type(2n) .necessity__content {
    padding: 1.25rem 0.625rem;
  }
}

.necessity__body:nth-of-type(2n) .necessity__text {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 41px;
  line-height: 2.5625rem;
}

.necessity__img {
  width: 274px;
  width: 17.125rem;
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  .necessity__img {
    margin: 0 auto;
  }
}

.necessity__content {
  margin-left: 102px;
  margin-left: 6.375rem;
}

@media screen and (max-width: 1023px) {
  .necessity__content {
    margin-left: 0;
  }
}

.necessity__textblock + .necessity__textblock {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.necessity__text {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 51px;
  line-height: 3.1875rem;
}

@media screen and (max-width: 767px) {
  .necessity__text {
    font-size: 1.25rem;
  }
}

.necessity__arrow {
  display: block;
  margin: 22px auto 0;
  margin: 1.375rem auto 0;
  max-width: 280px;
  max-width: 17.5rem;
  border-left: 140px solid transparent;
  border-left: 8.75rem solid transparent;
  border-right: 140px solid transparent;
  border-right: 8.75rem solid transparent;
  border-top: 52px solid #fff;
  border-top: 3.25rem solid #fff;
}

.necessity__lead {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 51px;
  line-height: 3.1875rem;
  text-align: center;
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (max-width: 1023px) {
  .necessity__lead {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .necessity__lead {
    text-align: left;
  }
}

.necessity__video {
  margin: 78px auto 0;
  margin: 4.875rem auto 0;
  max-width: 810px;
  max-width: 50.625rem;
  width: 100%;
}

.necessity__wrapper {
  padding-top: 56.25%;
  position: relative;
}

.necessity__wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.necessity__link {
  text-align: center;
  margin-top: 45px;
  margin-top: 2.8125rem;
  padding-bottom: 85px;
  padding-bottom: 5.3125rem;
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
}

.necessity__space {
  margin-left: 30px;
  margin-left: 1.875rem;
}

@media screen and (max-width: 767px) {
  .necessity__space::before {
    content: "\A";
    white-space: pre;
  }
}

.point {
  background: #E4E4E4;
}

.point__arrow {
  width: 0;
  max-width: 1280px;
  max-width: 80rem;
  height: 0;
  margin: 55px auto 0;
  margin: 3.4375rem auto 0;
  border-style: solid;
  border-color: #fff #E4E4E4 #E4E4E4 #E4E4E4;
  border-width: 145px 50vw 0 50vw;
  border-width: 9.0625rem 50vw 0 50vw;
}

@media screen and (min-width: 1440px) {
  .point__arrow {
    border-width: 9.0625rem 40rem 0 40rem;
  }
}

.point__title {
  padding-top: 80px;
  padding-top: 5rem;
}

.point__items {
  margin: 20px 108px 0;
  margin: 1.25rem 6.75rem 0;
  padding-bottom: 135px;
  padding-bottom: 8.4375rem;
}

@media screen and (max-width: 1023px) {
  .point__items {
    margin: 1.25rem 0;
  }
}

.point__item {
  background: #fff;
  border-radius: 1.75rem;
  padding: 25px 76px 20px 49px;
  padding: 1.5625rem 4.75rem 1.25rem 3.0625rem;
}

.point__item + .point__item {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.point__item:nth-of-type(2n) {
  padding-bottom: 54px;
  padding-bottom: 3.375rem;
}

@media screen and (max-width: 767px) {
  .point__item {
    padding: 1.5625rem 1.25rem 1.25rem;
  }
}

.point__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-size: 1.875rem;
  border-bottom: 1px solid #707070;
  border-bottom: 0.0625rem solid #707070;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 708px;
  max-width: 44.25rem;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .point__head {
    display: block;
    font-size: 1.6875rem;
  }
}

.point__lead {
  margin-left: 28px;
  margin-left: 1.75rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.point__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.point__body img {
  margin: 0;
  width: 288px;
  width: 18rem;
  height: 192px;
  height: 12rem;
}

@media screen and (max-width: 1023px) {
  .point__body {
    display: block;
  }
  .point__body img {
    margin: 0 auto;
  }
}

.point__textblock {
  line-height: 34px;
  line-height: 2.125rem;
  margin-left: 27px;
  margin-left: 1.6875rem;
}

@media screen and (max-width: 1023px) {
  .point__textblock {
    margin-top: 0.625rem;
  }
}

@media screen and (max-width: 767px) {
  .point__textblock {
    margin: 0;
  }
}

.security__title {
  margin-top: 60px;
  margin-top: 3.75rem;
}

.security__items {
  margin: 90px auto 110px;
  margin: 5.625rem auto 6.875rem;
  max-width: 1020px;
  max-width: 63.75rem;
}

.security__items .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.security__items .list__item + .security__items .list__item {
  margin-top: 60px;
  margin-top: 3.75rem;
}

@media screen and (max-width: 767px) {
  .security__items .list__item {
    display: block;
  }
}

.security__items .list__heading {
  font-size: 50px;
  font-size: 3.125rem;
  display: inline-block;
}

.security__items .list__content {
  margin-left: 37px;
  margin-left: 2.3125rem;
}

@media screen and (max-width: 767px) {
  .security__items .list__content {
    margin-left: 0;
  }
}

.security__items .list__lead {
  margin: 0;
  max-width: 698px;
  max-width: 43.625rem;
}

.security__items .list__body {
  margin-top: 36px;
  margin-top: 2.25rem;
}

.security__items .list__img {
  max-width: 228px;
  max-width: 14.25rem;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .security__items .list__img {
    margin: 0 auto;
  }
}

.security__items .list__textblock {
  margin-left: 44px;
  margin-left: 2.75rem;
}

@media screen and (max-width: 1023px) {
  .security__items .list__textblock {
    margin: 1.25rem 0 0;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .card {
    display: block;
  }
}

.card__item {
  width: calc(33% - 4.66667px);
}

.card__item:not(:nth-child(3n + 1)) {
  margin-left: 7px;
  margin-left: 0.4375rem;
}

.card__item:first-of-type .card__img {
  max-width: 152px;
  max-width: 9.5rem;
}

.card__item:first-of-type .card__text {
  margin-top: 30px;
  margin-top: 1.875rem;
}

@media screen and (max-width: 1023px) {
  .card__item {
    width: 100%;
  }
  .card__item + .card__item {
    margin-top: 0.625rem;
  }
}

.card__body {
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  padding: 20px 25px 11px;
  padding: 1.25rem 1.5625rem 0.6875rem;
  margin-top: 35px;
  margin-top: 2.1875rem;
  height: 446px;
  height: 27.875rem;
}

.card__lead {
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
}

.card__img {
  margin: 22px auto 0;
  margin: 1.375rem auto 0;
}

@media screen and (max-width: 1023px) {
  .card__img {
    max-width: 21.875rem;
  }
}

.card__text {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 41px;
  line-height: 2.5625rem;
  margin-top: -10px;
  margin-top: -0.625rem;
}

.flow {
  max-width: 1063px;
  max-width: 66.4375rem;
}

.flow__title {
  margin: 175px 0 55px;
  margin: 10.9375rem 0 3.4375rem;
}

.flow__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  margin-top: 40px;
  margin-top: 2.5rem;
  padding: 19px 160px 5px 7px;
  padding: 1.1875rem 10rem 0.3125rem 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82%;
}

@media screen and (max-width: 1023px) {
  .flow__body {
    width: 100%;
    padding-right: 6.25rem;
  }
}

@media screen and (max-width: 767px) {
  .flow__body {
    display: block;
    padding: 1.1875rem 1.8125rem 0.4375rem;
  }
}

.flow__body:first-of-type {
  margin-top: 21px;
  margin-top: 1.3125rem;
  padding: 25px 290px 30px 29px;
  padding: 1.5625rem 18.125rem 1.875rem 1.8125rem;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .flow__body:first-of-type {
    padding-right: 1.8125rem;
  }
}

.flow__body:first-of-type .flow__img {
  max-width: 191px;
  max-width: 11.9375rem;
}

.flow__body:first-of-type .flow__content {
  margin-left: 15px;
  margin-left: 0.9375rem;
}

.flow__body:first-of-type .flow__text {
  margin-bottom: 0;
}

.flow__img {
  max-width: 247px;
  max-width: 15.4375rem;
}

@media screen and (max-width: 767px) {
  .flow__img {
    margin: 0 auto;
  }
}

.flow__lead {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 51px;
  line-height: 3.1875rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .flow__lead {
    white-space: normal;
    font-size: 1.5rem;
  }
}

.flow__text {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 41px;
  line-height: 2.5625rem;
}

.flow__text:last-of-type {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
}

.flow__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-top: 2.5rem;
}

.flow__arrow {
  position: relative;
  padding-left: 100px;
  padding-left: 6.25rem;
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (max-width: 1023px) {
  .flow__arrow {
    text-align: center;
    padding-left: 0;
  }
}

.flow__arrow::before, .flow__arrow::after {
  position: absolute;
  content: '';
  margin: auto;
  bottom: 0;
}

.flow__arrow::after {
  top: 80px;
  top: 5rem;
  left: 25px;
  left: 1.5625rem;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border: 1.875rem solid transparent;
  border-top: 52px solid #C4C4C4;
  border-top: 3.25rem solid #C4C4C4;
}

.flow__arrow::before {
  top: 0;
  left: 40px;
  left: 2.5rem;
  width: 30px;
  width: 1.875rem;
  height: 56px;
  height: 3.5rem;
  background: #C4C4C4;
}

.flow__arrow--first {
  left: 70px;
  left: 4.375rem;
}

@media screen and (max-width: 1023px) {
  .flow__arrow--first {
    margin: 0 auto;
    left: 0;
    padding-left: 6.25rem;
  }
}

.flow__arrow--long {
  display: block;
  top: 180px;
  top: 11.25rem;
}

.flow__arrow--long::after {
  top: 470px;
  top: 29.375rem;
}

.flow__arrow--long::before {
  height: 432px;
  height: 27rem;
}

@media screen and (max-width: 1023px) {
  .flow__arrow--long {
    display: none;
  }
}

.flow__caption {
  margin-left: 20px;
  margin-left: 1.25rem;
  padding-top: 15px;
  padding-top: 0.9375rem;
}

.flow__indent {
  text-indent: -1em;
  padding-left: 1em;
}

@media screen and (max-width: 767px) {
  .flow__indent {
    text-indent: 0;
    padding-left: 0;
  }
}

.flow__items {
  margin: 20px auto 90px;
  margin: 1.25rem auto 5.625rem;
}

.service__title {
  margin-top: 75px;
  margin-top: 4.6875rem;
}

.service__body {
  margin: 60px auto 0;
  margin: 3.75rem auto 0;
  border: 3px solid #707070;
  border: 0.1875rem solid #707070;
  border-radius: 1.125rem;
  padding: 30px 34px 71px 59px;
  padding: 1.875rem 2.125rem 4.4375rem 3.6875rem;
  max-width: 1063px;
  max-width: 66.4375rem;
}

@media screen and (max-width: 767px) {
  .service__body {
    padding: 1.875rem 2.125rem 4.4375rem;
  }
}

.service__lead {
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
}

.service__table {
  margin-top: 45px;
  margin-top: 2.8125rem;
}

.table {
  font-size: 30px;
  font-size: 1.875rem;
  border-collapse: separate;
  border-spacing: 0 7px;
  border-spacing: 0 0.4375rem;
}

@media screen and (max-width: 767px) {
  .table {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .table__lead,
  .table__text {
    display: block;
    width: 100%;
  }
}

.table__lead {
  background: #F2F2F2;
  font-weight: 300;
  padding: 0 41px;
  padding: 0 2.5625rem;
  white-space: nowrap;
}

.table__lead--wide {
  padding: 63px 41px;
  padding: 3.9375rem 2.5625rem;
}

@media screen and (max-width: 767px) {
  .table__lead {
    margin-top: 0.625rem;
  }
  .table__lead--wide {
    padding: 0 2.5625rem;
  }
}

.table__text {
  line-height: 51px;
  line-height: 3.1875rem;
  padding: 20px 0 0 35px;
  padding: 1.25rem 0 0 2.1875rem;
}

@media screen and (max-width: 767px) {
  .table__text {
    padding: 0;
    line-height: 2.5rem;
  }
}

.table__attention {
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: -23px;
  margin-top: -1.4375rem;
}

@media screen and (max-width: 1023px) {
  .table__attention {
    line-height: 1.875rem;
    margin-top: 0;
  }
}

.table__kerning {
  letter-spacing: -1.3px;
  letter-spacing: -0.08125rem;
}

body {
  color: #707070;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1198px) {
  section {
    padding: 0 1.25rem;
  }
}

.bold {
  font-weight: 600;
}
